@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";



body{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
  }



@theme{
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in: fade-in 2s ease-in-out ;
  --animate-loop-scroll: loop-scroll 10s linear infinite;
  --animate-border-spin: border-spin 3s linear infinite;
  --breakpoint-lg: 1025px;
}

@property --border-angle{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;

}

/* @layer utilities {
  .card-wrapper{
    position: relative;
    background: linear-gradient(to bottom, #334155, #1e293b);
    border-radius: 1rem;
    overflow: hidden;
  }
  .card-wrapper::before{
    background: conic-gradient(
      rgba(244,114,182,0.4) 0deg,
      rgba(192,132,252,0.4) 0deg,
      transparent 80deg,
    );
    position: absolute;
    height: 150%;
    width: 150%;
    left: -25%;
    top: -25%;
    content: '';
    animation: border-spin 7s linear infinite;
  }

  .card-content{
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: linear-gradient(to bottom, #1e293b, #0f172a);
    border-radius: 1rem;
    top: 1px;
    left: 1px;
  }
} */


@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateY(20px);
 
  }
  100%{
    opacity: 1;
    transform: translateY(0);
   
  }
}

@keyframes loop-scroll {
  from{transform: translateX(0)};
  to{transform: translate(-100%)}
}

@keyframes border-spin {
  to {
    --border-angle: 360deg;
  }
}


